<div class="side_bar_header">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user), class: "link_text"%>
  </div>

  <div class="create_chat">
    <%= link_to "チャットを作成する", "#", class: "create_chat_text"%>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <%= link_to "testroom1", "#", class: "room_name"%>
  </div>
</div>